# CRM
TOKEN=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

# Django
SECRET_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

# Database
DB_NAME=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
DB_USER=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
DB_PASSWORD=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
DB_HOST=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
DB_PORT=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
URI=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

# "postgresql" or "sqlite3"
DATABASE_ENGINE=sqlite3

SUPABASE_URL=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
SUPABASE_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

# Redis Configuration
REDIS_HOST=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
REDIS_PORT=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
REDIS_DB=0
REDIS_PASSWORD=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

# Don't use ${} syntax in .env files
CELERY_BROKER_URL=redis://:XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX@XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX:6379/0
CELERY_RESULT_BACKEND=redis://:XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX@XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX:6379/0
CACHE_LOCATION=redis://:XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX@XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX:6379/1

EMAIL_PW=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

WEBHOOK_DISCORD=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX