# Python
*.pyc
__pycache__/
*.pyo
*.pyd

# Environment
.env
venv/
env/

# Django
*.sqlite3
/media/
db.sqlite3

# Celery & Redis
*.pid

# IDEs
.vscode/
.idea/

# Tests
**/test_*.py
**/tests.py
**/tests/
.coverage
htmlcov/

# Logs
apiSocialHub/logs/
*.log

migrations/