# Python
*.pyc
__pycache__/
*.pyo
*.pyd

# Environment
.env
venv/
# env/

# Django
*.sqlite3
/media/
# /core/media/
db.sqlite3
*.sql

# Celery & Redis
*.pid

# IDEs
.vscode/
.idea/

# Tests
.coverage
htmlcov/

# Logs
# *.log
# *.logs

migrations/
references/

# Other
messageShooter/references/celerybeat-schedule
celerybeat-schedule.db

.windsurfrules